/* variables.scss */
$primary-color: #007bff;
$secondary-color: #34c759;
$text-color: #212529;
$secondary-text-color: #ffff;
$bg-color: #f8f9fae9;
$card-bg: #ffffff;
$gray-dark: #343a40;
$gray-light: #f1f1f1;
$border-color: #e1e1e1;

/* Additional variables */
$font-family: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;