@use '../../Styles/variables.scss' as *;


$secondary-color: #ffffff;
.pageContainer {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.loginBox {
  width: 750px;   // balanced width between narrow and wide
  height: 550px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  overflow: hidden;
  background-color: #fff;
}

.loginLogo {
  width: 45%;
  background-color: #276749;  // green panel
  color: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    
  }


  div{
    margin-bottom: 40px;
  }
}

.loginForm {
  width: 55%;
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;

  .formTitle {
    font-size: 24px;
    font-weight: 300;
    color: #222;
    margin-bottom:40px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .formGroup {
    margin-bottom: 25px;
  }
label{
  font-weight: normal;
}
  input {
    width: 100%;
    height: 50px;
    padding: 20px 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1.2px solid #ccc;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #2e7d32;
      outline: none;
      box-shadow: 0 0 5px rgba(46, 125, 50, 0.5);
    }
  }

  .forgotten {
    font-size: 13px;
    color: #2e7d32;
    margin-bottom: 25px;
    margin-left: 4%;
    cursor: pointer;
    text-decoration: underline;
    align-self: flex-start;

    &:hover {
      color: darken(#2e7d32, 10%);
    }
  }

  .primaryButton {
    background-color: #276749;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;

    &:hover {
      background-color: darken(#2e7d32, 10%);
    }
  }

  .createAccountButton {
    background-color: #d4af37;
color: black;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
}

@media (max-width: 768px) {
  .loginBox {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .loginLogo {
    width: 90%;
    border-radius: 15px 15px 0 0;
    padding: 30px 20px;
  }

  .loginForm {
    width: 90%;
    padding: 30px 2px;
    margin-right: 20%;
  }
  button{
    margin-left:30%
  }
}
