// Variables for colors and spacing
$primary-color: #007bff;
$secondary-color: #ffff;
$text-color: #333;
$border-radius: 5px;



.mainContent {
  width: 100%;
  max-width: 800px;
  margin: 0 5%;
  padding-left: 2%;
  border-radius: $border-radius;
  text-align: center;
  
}

h2 {

  font-size: 24px;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  margin-bottom: 5%;
  width: 90%;
  margin-left: 40%;

  .searchInput {
    padding: 10px;
    border: 1px solid #333;
    border-radius: $border-radius;
    font-size: 16px;
    width: 80%;
  }

  .searchButton {
    padding: 10px 15px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    margin-left: 10px;
margin-bottom: 30px;
    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: darken($primary-color, 10%);
    }
  }
}

.loading,
.error,
.noResults {
  color: $text-color;
  font-size: 20px;
  margin-top: 2%;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.charityCard {
  padding: 2% 5%;
  background: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 5%;

  margin-left: 30%;
  width: 600px;

  .charityName {
    margin: 0;
    font-size: 20px;
    color: $text-color;
  }

  .charityLogo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: $border-radius;
    margin-top: 10;
  }

  .charityDescription {
    margin-top: 2%;
    font-size: 15px;
    color: $text-color;
  }

  a {
    text-decoration: none;
  }

  .websiteButton {
    margin-top: 2%;
    padding: 8px 12px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
@media (max-width: 768px) {
  .searchForm {
    margin-left: 0;
    justify-content: flex-start;
  }

  .searchInput {
    width: 50%; // Use full width on smaller screens
    max-width: 400px; // Optional: Set a max-width for larger screens
    margin-right: 10px; // Optional: Add some spacing if needed
  }
}