.navbar {
  top: 0;
  width: 100%;

  height: 80px;
  background-color: #2e7d32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-left: -20px;
  overflow: hidden;

  img {
    height: 40px;
    width: 100px;
    margin: 10px 0 10px 0;
    background: transparent;
    transform: scale(2);
    margin-left: 20px;
    border: none;
  }
  .title {
    margin-top: 45px;
  }
  .navbarList {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 25% !important;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;

    li {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      margin: 20px 20px 20px 0;
      width: auto;
      padding: 0 15px;
      height: 60px;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        border-left: 1px solid #fff;
      }

      &:nth-child(4) {
        margin-bottom: 20px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .iconText {
    display: flex;
    margin-top: 10%;
    margin-right: 10px;

    svg {
      margin-right: 5px;
    }
  }

  .logoutButton {
    background-color: #d32f2f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 20px 5px 30px;

    &:hover {
      background-color: #b71c1c;
    }
  }
}
.hamburger {
  display: none;
}

.hamburgerList {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;

  padding: 10px;
  border-bottom: 1px solid #fff;
}

@media (min-width: 1500px) {
  .navbar {
    .navbarList {
      margin-left: 75% !important;
    }
  }
}

@media (max-width: 768px) {
  .navbarList {
    display: none !important;
  }

  .hamburger {
    display: block;

    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .hamburgerIcon {
    display: block;
    cursor: pointer;
    color: #000;
  }

  .hamburgerList {
    display: block; /* changed from none to block */
    position: absolute; /* changed from fixed to absolute */
    z-index: 1000;
    top: 50px;
    right: 0px;
    height: 300px;
    background-color: #fff; /* changed from #fff to #2e7d32 */
    padding: 10px;
    border: 1px solid #fff;
  }

  .hamburgerList ul {
    padding: 10px;
    border: 1px solid #fff;
  }
  li,
  a {
    list-style: none;
    text-decoration: none;
    padding-bottom: 50px;
    color: #000;
  }

  .hamburgerList li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
