.progressContainer {
  margin: 0px 10%;
  width: 80%;
  padding: 10px;
  // border: 1px solid #ddd;
  border-radius: 8px;
  // background-color: #fff;
  margin-bottom: 20px;
}
.progressTitle {
  font-size: 20px;
 text-align: center;
 margin-bottom: 50px;
}

.progressBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;

  position: relative;
}

.progressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding-left: 10px;
  font-size: 18px; /* adjust as needed */
}

.progressBar {
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
  height: 25px;
  width: 70%;
  height: 30px;
  overflow: hidden;
  margin-right: 50px;
  margin-left: auto;
}

.progressFill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.lowProgress {
  background-color: #f44336;
}

.highProgress {
  background-color: #4caf50;
  color: #fff;
}

.goalAmount {
  font-size: 18px;
  color: #333;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 1px;
  margin-right: 50px;
}
.donationInfo {
  font-size: 18px;
  color: #363636;
  font-weight: bold;
position: absolute;
left: 50%;
transform: translateX(-50%);

margin-top: 10px;
}

@media screen and (min-width: 1500px) {
.progressContainer{
  margin: 0;
}
.progressBarContainer{
  margin-bottom: 30px !important
}
.progressTitle{
text-align: center;}
}
@media (max-width: 768px) {
  .progressContainer {
    width: 400px;
    margin: 0;
    padding: 10px; /* Add some padding to make it look better */
  }
  .highProgress {
    height: 30px !important; /* Make it bigger only on mobile */
    background-color: #28a745; /* Stronger green for full completion */
    width:  300px;
    border-radius: 5px; /* Add some rounded corners to make it look better */

  }
  .progressBar {
    height: 25px;
    width: 200px;
    margin-right: 50px;

  }

  .progressText {
    font-size: 12px;
    color: #333; /* Make the text color a bit darker to improve readability */
  }

  .goalAmount{
   display: none;
  }
}

