footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 20px;
  background-color: #276749;
  color: #ffffff;
}

footer p {
  margin-left: 10px; /* Remove default margin */
}
.privacyPolicy {
  list-style: none; /* Remove bullet points */
  display: flex; /* Makes it a flex container */
  height: 30px;
  width: 150px;
  
}

@media (max-width: 768px) {
  footer {
    height: 80px;

    width: 100%;
    color: #ffffff; /* White text */

    flex-direction: row; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
    margin-top: 20px;
  }
  .copyright{
    margin-left: 20px;
margin-bottom: 20px;  }
  .privacyPolicy {
   margin-left: 100px
  }


}