.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideDown 0.3s ease;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
    height: fit-content;
  
  }
  // Title
  h2 {
    grid-column: span 2;
    margin-top: 0;
    color: #4d534d;
    text-align: center;
  }
  
  // Label Styles
  label {
    padding-right: 10px;
    font-weight: bold;
  }
  
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .giftAidLabel{
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .buttonGroup {
    grid-column: 1 / -1;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    width: 500px;
  }

  
 
  @media (max-width: 768px) {
    .modalContent {
      width: 95%;
      max-width: none;
    }
  
    form {
      grid-template-columns: 1fr;
    }
  
    label {
      text-align: right;
      padding-right: 0;
    }
  
    .buttonGroup {
      flex-direction: column;
      gap: 10px;
    }
  }
